<div class="container">
    <!-- <a routerLink ='/' href="javaScript:void(0)">Back</a> -->
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-10 col-md-10">
          <div class="panel panel-primary">
              <div class="panel-heading">
               <h2>Users Details</h2>
              </div>
              <div class="panel-body">
                  <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Age</th>
                          <th>City</th>
                          <th>Country</th>
                          <th>Operation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                     <td><input type="text" class="form-control" id="name" placeholder="Username" /></td>
                     <td><input type="text" class="form-control" id="age" placeholder="Userage" /></td>
                     <td><input type="text" class="form-control" id="city" placeholder="Usercity" /></td>
                     <td><input type="text" class="form-control" id="country" placeholder="Usercountry" /></td>
                     <td><button class="btn btn-success">Add Lsit</button></td>
                        </tr>
                       <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td style="text-align:center"><a href="javascript:(void)" (click)="onEdit(i)"><span class="fa fa-edit" title='Edit'></span> </a> &nbsp;
                          <a href="#"  (click)="onEdit(i)"><span class="fa fa-trash" title='Delete'></span></a></td>
                         </tr>
                      </tbody>
                      
                    </table>
              </div>
            </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
      </div>
  </div>
